<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Critterpedia</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type='text/css' href="/assets/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Tajawal:wght@300;500;800&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <div>
        <a class="navbar-brand" href="/">Critterpedia</a>
    </div>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav">            
            <li class="nav-item">
              <a class="nav-link" href="/critters">Home</a>
            </li>
            <li class="nav-item mr-auto">
              <a class="nav-link" href="/critters/fish">Fish</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/critters/bugs">Bugs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/critters/seaCreatures">Sea</a>
            </li>
          </ul>
          
        </div>
      </nav>

    