<%- include('partials/header') %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to our Critters page!</h1>
            <p>View our lovely selection of bugs and fish!</p>            
            <a href="/">Go back.</a> 
        </div>               
    </header>
</div>

<div class="container mb-5">
    <div class="row justify-content-around">
        <a href="/critters/fish" class='col-md-3'><button class='btn btn-primary btn-lg selector'>Fish</button></a>   
        <a href="/critters/bugs" class='col-md-3'><button class='btn btn-success btn-lg selector'>Bugs</button></a>   
        <a href="/critters/seaCreatures" class='col-md-3'><button class='btn btn-info btn-lg selector'>Sea</button></a>    
    </div>
</div>

    <!-- Make functional -->
<!-- <div class="container">
    <div class="row justify-content-center">
        <form action="GET">
            <div class="form-inline text-center my-auto">
                <input class='form-control col-md-8 col-xs-12' type="text" name='search' placeholder='search'>
                <button href ='#' class='col-md-4 col-xs-12 btn btn-lg btn-dark float-right'>Submit!</button>
            </div>  
        </form>    
    </div>   
</div> -->

    <div class="container">
        <h2 class="text-center">Critters leaving this month</h2>
        <h4>Bugs</h4>
        <h4>Fish</h4>
        <h4>Sea Creatures</h4>
    </div>

    <div class="container">
        <h2 class="text-center">New Critters this month</h2>
        <h4>Bugs</h4>
        <h4>Fish</h4>
        <h4>Sea Creatures</h4>
    </div>

<%- include('partials/footer') %>