<%- include('partials/header') %>

<div class="container text-center">
    <h1>Landing page!</h1>
    
    <p>Welcome to Critterpedia.</p>
    
    <a href="/critters">View critters.</a>
    
</div>

<%- include('partials/footer') %>